Rag pipeline.json
{
  "name": "Rag pipeline",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1SCAMxzk-qWNYBFvnmXQnJu4Df-9bTJPi",
          "mode": "list",
          "cachedResultName": "rag pipeline",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1SCAMxzk-qWNYBFvnmXQnJu4Df-9bTJPi"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        48
      ],
      "id": "8cc13da8-41bc-4e53-9cf2-d88cc9fd1e68",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "axqZKOIYt5Vw8BsP",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        48
      ],
      "id": "95b72b51-f0c5-46ea-8f02-40ba369eaaca",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "axqZKOIYt5Vw8BsP",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "gamble",
          "mode": "list",
          "cachedResultName": "gamble"
        },
        "options": {
          "pineconeNamespace": "cv"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        432,
        48
      ],
      "id": "6ab4c14a-7f0c-4c89-889e-b9e19c71b150",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "b74alWWlmw4QAQHk",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        336
      ],
      "id": "d2a42ce5-4728-4a5a-8768-eb85f7aee5fc",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "s8e9UkR5N1OaGHXL",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        336
      ],
      "id": "9372703e-b733-49f4-8a87-c1d067d19999",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        560,
        560
      ],
      "id": "8ce2a242-59c1-4a13-9a74-8c7ba5c9ee57",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        912,
        64
      ],
      "id": "c402d5d7-8a45-41f5-b67a-f739d7376847",
      "name": "When chat message received",
      "webhookId": "78282b83-baaf-428e-b96a-18614f612812"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "you will extract the document information, about me skill, education and all the information in the pdf or docs file"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1280,
        64
      ],
      "id": "15c8cecc-59a0-4bd4-a3b6-c92e0c5e68e1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1056,
        320
      ],
      "id": "ab69e183-6f89-4e0e-a346-e020580de643",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vEAzXjG1uPQ8pIG7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "you will extract the document information, about me skill, education and all the information in the pdf or docs file",
        "pineconeIndex": {
          "__rl": true,
          "value": "gamble",
          "mode": "list",
          "cachedResultName": "gamble"
        },
        "options": {
          "pineconeNamespace": "cv"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1328,
        336
      ],
      "id": "44347284-411b-4cfb-bfe2-610e330ea928",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "b74alWWlmw4QAQHk",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1328,
        544
      ],
      "id": "b1eb34da-ba84-4762-b02b-f486d20e5415",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "s8e9UkR5N1OaGHXL",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6a328827-4c8c-4fcb-b605-508bb19640f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "67b3e4a7b8351e8d1dcc9b73df7f07874ca3abbed3422fb89cbf6e0a7e68ea73"
  },
  "id": "kAlAk4ltS35ftWED",
  "tags": []
}